.sheet-divTable{
    display: table;
    width: 100%;
}
.sheet-divTableRow {
    display: table-row;
}
.sheet-divTableCell {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
.sheet-divTableBody {
    display: table-row-group;
}