.sheet-divTable{
    display: table;
    width: 100%;
}
.sheet-divTableRow {
    display: table-row;
}
.sheet-divTableCell {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
.sheet-divTableBody {
    display: table-row-group;
}

input.sheet-arrow {
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-bodysection {
    display: none;
}

/* Hide actual checkbox */
input[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input[type="checkbox"] + span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "▼";
    width: 14px;
    height: 14px;
    font-size: 12px;
}

input[type="checkbox"]:checked + span::before {
    content: "►";
}